{% extends 'base.html.twig' %}

{% block title %}Editer un restaurant{% endblock %}

{% block body %}
    <h1>Editer un restaurant</h1>

    {{ include('restaurant/_form.html.twig', {'button_label': 'Update'}) }}

    {# <a href="{{ path('restaurant_index') }}">back to list</a> #}

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
